.main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.posts {
    display: flex;
    column-gap: 25px;
    row-gap: 25px;
    flex-flow: wrap;
    justify-content: center;
    padding: 40px;
}
