* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: 'Arial';
}

body {
    background: #121212;
    color: #ececec;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: normal;
}

a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    color: #90caf9;
}

button {
    background: #015090 !important;
    color: #fff;
}

.link--is-active {
    color: gold;
    cursor: default;
}
strong {
    color: #00b2af;
}
